<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matchmade</title>
</head>

<body>
    <div>
        <ul>
            <% for (const iterator of data) { %>
                <li>
                    <p> Name: <%= name %>
                    </p>
                </li>
                <li> Gender: <p>
                        <%= %>
                    </p>
                </li>
                <li> Date of brith:<p>
                        <%= %>
                    </p>
                </li>
                <li> Country: <p>
                        <%= %>
                    </p>
                </li>
                <li> <img src="<%=  %>" alt=""> </li>
                <li> Education" <p>
                        <%= %>
                    </p>
                </li>
                <li> Profession: <p>
                        <%= %>
                    </p>
                </li>
                <li> Religion: <p>
                        <%= %>
                    </p>
                </li>
                <li> Height: <p>
                        <%= %>
                    </p>
                </li>
                <li> Salary: <p>
                        <%= %>
                    </p>
                </li>
                <% } %>
        </ul>
    </div>
    <h2> data was loading..................</h2>
</body>

</html>